html{background-color: rgb(182, 212, 212);

}
h1{
    background-color: aqua;
    text-align: center;
    position: relative;
    margin-top: 0%;
    width: 100%;

}
#1list{
    background-color: aquamarine;
    position:absolute;
width: 15%;
}

#p1{
    background-color: aquamarine;
}

#p2{
    position: relative;
    background-position: 15%;
    background-color: rgb(32, 146, 108);
text-align: center;
font-size: 24px;
top: -55px;
}
main ol{
    background-color: rgb(84, 129, 129);
position: relative;
bottom: 65px;
}
